## Go 版 gan-api-server 配置示例
## 可复制为 config.yaml 修改

GAN_CMD_HOME: "../zzxia-op-super-invincible-lollipop"
GAN_LOG_HOME: "../log"
GAN_RUN_ENV: "dev"

USER_DB_FILE: "../my_sec/user.db"
USER_TOKEN_FILE: "../my_sec/user.db.token"

GITLAB_SECRET_TOKEN: "1234567890zxc"
GITLAB_GIT_COMMIT_ENV_CHECK: "YES"
GITLAB_HOOK_SEND_EMAIL: "YES"

HAND_HOOK_SEND_EMAIL: "NO"
X_ZZXIA_SIGN_CHECK: "NO"
X_ZZXIA_SIGN_SECRET: "setYourselfSigncharStringHere"

LISTEN_ADDR: ":9527"

